html {
  font-size: 10px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  body::before {
    background-image: url("../images/tswirls.png"), -webkit-linear-gradient(70deg, #f28165 0%, #3bc2fa 100%);
    background-image: url("../images/tswirls.png"), linear-gradient(20deg, #f28165 0%, #3bc2fa 100%);
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

h1 {
  text-align: center;
  font-weight: 16;
  font-size: 3rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11);
  a {
    color: blue;
    text-decoration: none;
    &:focus {
      outline: 0;
    }
  }
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-figure {
  flex-basis: calc(33.333% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: rgba(0,0,0,.5);
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  position: relative;
  .grid-photo-wrap {
    position: relative;
  }
}

.single-member {
  .grid-figure;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  background: rgba(0,0,0,.5);
  .grid-figure {
    box-shadow: none;
    margin: 0 2rem 0 0;
    border: 0;
    padding: 0;
    flex: 1 0 60%;
    max-width: 60%;
  }
  .grid-photo {
    width: 100%;
    margin: 0;
  }
}

.grid-photo {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}

.caption {
  flex: 1 0 40%;
  text-transform: capitalize;
  color: white;
}

.details {
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
  p {
    font-size: 1.2rem;
    margin: 0;
  }
  strong {
    margin-right: 5px;
  }
}

.delete {
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
  float: right;
}
