@color0: #cccccc; // Appears 5 times
@color1: #e7ebee; // Appears 2 times

body {
	background:#eeeeee;
}
.main-box {
	&.no-header {
		padding-top: 20px;
	}
	-moz-border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px 0 @color0;
	-ms-box-shadow: 1px 1px 2px 0 @color0;
	-o-box-shadow: 1px 1px 2px 0 @color0;
	-webikt-border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px 0 @color0;
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 1px 1px 2px 0 @color0;
	margin-bottom: 16px;
}

.table {
	a.table-link.danger {
		color: #e74c3c;
	}
	thead {
		tr {
			th {
				border-bottom: 2px solid @color1;
				font-size: 0.875em;
				text-transform: uppercase;
			}
		}
	}
	tbody {
		tr {
			td {
				border-top: 1px solid @color1;
				font-size: 0.875em;
				padding: 12px 8px;
				vertical-align: middle;
				&:first-child {
					font-size: 1.125em;
					font-weight: 300;
				}
			}
		}
	}
}
.label {
	border-radius: 3px;
	font-size: 0.875em;
	font-weight: 600;
}
.user-list {
	tbody {
		td {
			.user-subhead {
				font-size: 0.875em;
				font-style: italic;
			}
			.user-link {
				display: block;
				font-size: 1.25em;
				padding-top: 3px;
			}
		}
		td>img {
			float: left;
			margin-right: 15px;
			max-width: 50px;
			position: relative;
		}
	}
}
a {
	color: #3498db;
	outline: none!important;
}
.capitalize {
	text-transform: capitalize;
}

.single-view {
	width: 50%;
    height: 200px;
    margin: auto;
    padding: 10px;
	.photo-block {
	    width: 30%;
	    height: 200px;
	    float: left;
	}
	.address-block {
	    height: 200px;
	}
}